<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title>Issues</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Issues</h1>
    <a class="ui button" th:href="@{/issue/new}">New</a>
    <table class="ui table" th:if="${issues}">
        <thead>
            <tr>
                <th>#</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="issue : ${issues}" th:object="${issue}">
                <td th:text="*{issueId}">DUMMY ISSUE ID</td>
                <td th:text="*{subject}">DUMMY SUBJECT</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>